@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso negato";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Non hai i permessi per accedere a questa risorsa.</p>
</header>
