@page
@model LockoutModel
@{
    ViewData["Title"] = "Account bloccato";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Il tuo account è bloccato, contatta un amministratore.</p>
</header>
